{% extends "base.html" %}

{% block head %}
<title>Lobby Not Found</title>
    <style>
    body {
            margin: 0;
            padding: 0;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            color: #ff9900;
        }

        .lobbies-container {
            display: flex;
            flex-direction: row;
            height: fit-content;
            flex-wrap: wrap;
        }

        .lobby {
            outline: solid #ff9900 2px;
            height: auto;
            padding: 10px;
            border-radius: 4px;
            margin: 20px;
        }

        h1 {
            font-size: 64px;
            margin-bottom: 30px;
            text-shadow: 2px 2px 10px black;
            text-align: center;
        }

        table {
            background-color: rgba(0, 0, 0, 0.7);
            border-collapse: collapse;
            border: 2px solid #ff9900;
            width: 60%;
            max-width: 800px;
            box-shadow: 0 0 20px black;
        }

        th, td {
            padding: 20px;
            border-bottom: 1px solid #ff9900;
            text-align: center;
            font-size: 24px;
        }

        th {
            background-color: #111;
        }

        tr:hover {
            background-color: rgba(255, 153, 0, 0.1);
        }

        a.button {
            text-decoration: none;
            font-size: 20px;
            color: #ff9900;
            border: 2px solid #ff9900;
            padding: 10px 20px;
            border-radius: 8px;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
            margin:auto;
        }

        a.button:hover {
            background-color: #ff9900;
            color: black;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Lobby Not Found</h1>
    <p style="text-align: center; margin: auto;">The lobby you are trying to reach has ended, or does not exist.</p>
    <div style="display: flex; padding-top: 5%;">
        <a class="button" href="/find-lobby">Return to Lobbies</a>
    </div>
{% endblock %}